<a href="https://colab.research.google.com/github/0xFelipe/0XFelipe/blob/main/Python/Modulo%202/Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Números sem aspas são considerados float
type(295.00)

float

In [5]:
#Qualquer item dentro de aspas é considerado string
str = "R$ 1295,00"
type(str)

str

In [6]:
#Split é usado quando se quer separar grupos pelos espaços no caso RS pertence ao grupo 0 e o valor numerico ao grupo 1
str.split()

['R$', '1295,00']

In [9]:
#Usando a mesma logica de cima selecionamos apenas o grupo 1 o número
numero = str.split()[1]
print(numero)

1295,00

In [27]:
#Usando a variavel replace para trocar a virgula por um ponto
convert = numero.replace(",", ".")

In [28]:
#Convertendo a string em um float
float(convert)

1295.0

In [38]:
# Associando Strings as variaveis
nome = "Felipe"
sobrenome = "Mendes"
sufixo = "Souza"
profissao = "Analista de Suporte"

#Imprimir nome completo e profissão
print(nome, sufixo, sobrenome)
print("Atua como:" + profissao + ".")

Felipe Souza Mendes
Atua como:Analista de Suporte.